body
	background-color black
	color white

.sideCol
	height 1000px

#map_container
	position fixed
	top 100px
	left 700px


.axis text, #message
	font 30px sans-serif
	// color white
	fill white

.axis path, axis line
	// color white
	stroke white
	// stroke #000
	shape-rendering crispEdges
	stroke-width 3px